<h1 class="text-light text-center">Agregar Deporte</h1>

<section class="d-flex">
    <article class="col-6">
        <form action="/create" method="POST">
            <div class="mb-3">
                <label for="nombre-deporte" class="form-label">Nombre: </label>
                <input type="text" class="form-control w-75" id="nombre" aria-describedby="nombre" name="nombre">
            </div>

            <div class="mb-3">
                <label for="precio-deporte" class="form-label">Precio: </label>
                <input type="number" class="form-control w-75" id="precio" aria-describedby="precio" name="precio">
            </div>

            <button type="submit" class="btn btn-primary mb-3">Crear</button>
        </form>
    </article>

    <article class="col-6">
        {{>list}}
    </article>
</section>