<h1> Eliminar deporte </h1>
<section class="d-flex">
    <article class="col-6">
        <form action="/delete" method="POST">
            <div class="mb-3">
                <label for="nombre-deporte" class="form-label">Nombre: </label>
                <select class="form-select w-75" aria-label="Default select example" name="deporte">
                    <option selected disabled>Selecciona un deporte</option>
                    {{#each archivoJson}}
                    <option value="{{this.id}}">{{this.nombre}}</option>
                    {{/each}}
                </select>
            </div>

            <button type="submit" class="btn btn-primary mb-3">Eliminar</button>
        </form>
    </article>

    <article class="col-6">
        {{>list}}
    </article>
</section>