<ul class="list-group p-5">
  <li class="list-group-item"><a href="/create">Create</a></li>
  <li class="list-group-item"><a href="/create">Read</a></li>
  <li class="list-group-item"><a href="/create">Update</a></li>
  <li class="list-group-item"><a href="/create">Delete</a></li>
</ul>