<h1 class="text-light text-center">Lista de deportes</h1>


<article class="text-center py-5">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Precio</th>
                <th scope="col">Id</th>
            </tr>
        </thead>

        {{#each archivoJson}}
        <tbody>
            <tr>
                <td>{{this.nombre}}</td>
                <td>${{this.precio}}</td>
                <td>{{this.id}}</td>
            </tr>
        </tbody>
        {{/each}}
    </table>
</article>